<div class="quizz__container">
  <div class="quizz_logo">
    <img src="../../../assets/images/logo.png" alt="">
    <h3>{{ title }}</h3>
  </div>
  <div *ngIf=!finished class="quizz_questions">
    <h3>{{ questionSelected.question }}</h3>
  </div>
  <div *ngIf=!finished class="quizz_options">
    <button
      class="btn-option"
      (click)="playerChoose(option.alias)"
      *ngFor="let option of questionSelected.options; let i = index"
    >
      {{ option.name }}
    </button>
  </div>
  <div *ngIf=finished class="quizz_results">
    <p>O seu resultado é:</p>
    <h1>{{ answerSelected }}</h1>
  </div>
</div>
